@page "/messages/{thread:int}"
@inject IMessageService MessageService

<MudTable Items=MessageService.Messages Hover="true" LoadingProgressColor="Color.Info">
    <HeaderContent>
        <MudTh>UserId</MudTh>
        <MudTh>Message</MudTh>
        <MudTh>Posted</MudTh>
    </HeaderContent>
    <RowTemplate>

        @if(@context.Deleted == true)
        {
            <MudTd DataLabel="UserId"></MudTd>
            <MudTd DataLabel="Message">Message has been deleted.</MudTd>
            <MudTd DataLabel="Posted"></MudTd>
        }
        else
        {
            <MudTd DataLabel="UserId">@context.UserId</MudTd>
            <MudTd DataLabel="Message">@context.Message</MudTd>
            <MudTd DataLabel="Posted">@context.DateTimeCreated</MudTd>
        }
        

    </RowTemplate>
</MudTable>

<AuthorizeView>
    <Authorized>
        <CascadingValue Value="this">
                <PostMessage ThreadId="Thread"></PostMessage>
        </CascadingValue>
        

    </Authorized>
    <NotAuthorized>
        <p>You must be signed in to post a message.</p>
    </NotAuthorized>
    
</AuthorizeView>

@code {
    [Parameter]
    public int Thread { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await MessageService.GetMessages(Thread);
    }

    public void RefreshMessages()
    {
        //Called from child component PostMessage. Refreshes messages when user has posted a new message.
        this.StateHasChanged();
    }

}
