@page "/messages/{thread:int}"
@inject IMessageService MessageService
@inject IAuthService AuthService

<MudTable Items=MessageService.Messages Hover="true" LoadingProgressColor="Color.Info">
    <HeaderContent>
        <MudTh>UserId</MudTh>
        <MudTh>Message</MudTh>
        <MudTh>Posted</MudTh>
    </HeaderContent>
    <RowTemplate>

        <Message Msg="@context" UserId="UserId"></Message>
        

    </RowTemplate>
</MudTable>

<AuthorizeView>
    <Authorized>
        
        <CascadingValue Value="this">
                <PostMessage UserId="UserId" ThreadId="Thread"></PostMessage>
        </CascadingValue>

    </Authorized>
    <NotAuthorized>
        <p>You must be signed in to post a message.</p>
    </NotAuthorized>
    
</AuthorizeView>

@code {
    [Parameter]
    public int Thread { get; set; }
    private int UserId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await MessageService.GetMessages(Thread);
        UserId = await AuthService.GetUserId();
    }

    public void RefreshMessages()
    {
        //Called from child component PostMessage. Refreshes messages when user has posted a new message.
        this.StateHasChanged();
    }

}
