@page "/usersettings"
@inject IUserService UserService

<h3>UserSettings</h3>

@code {
    List<InterestModel> UserInterests { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        UserInterests = await UserService.GetUserInterests();
    }
}
